.DS_Store
.gradle/
.idea/
build/
Covid19.iml
app/.DS_Store
app/.gitignore
app/app.iml
app/proguard-rules.pro
app/release/
app/src/main/res/.DS_Store
gradle/
gradlew
gradlew.bat
local.properties
screenshot/.DS_Store
app/build
gradle.properties